page-historique {

    /*ion-segment-button.text-on-bottom{
        flex-direction: column;
      }*/

      .content{
          text-align:center;
          font-size: 15px;
      }

    
        
      
      
    
}
