<ion-header></ion-header>

<ion-content class="fond" style="margin-top:-5px">
    <ion-card class="cardQuestion">
        <ion-label class="question bounceInLeft">{{listQuestion[numQuestion].intitule}}</ion-label>
    </ion-card>

    <div class="grid">
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let reponse of listReponses; let i= index">
                    <ion-card *ngIf="(i==0 || i==1) && reponse.image==''" class="reponse" attr.id="{{reponse.id}}" (click)="cliqueReponse(reponse.isReponse,reponse.id)">
                        <div class="bounce">{{reponse.nom}}</div>
                    </ion-card>
                    <ion-card *ngIf="(i==0 || i==1) && reponse.image!=''" class="reponse" attr.id="{{reponse.id}}" (click)="cliqueReponse(reponse.isReponse,reponse.id)">
                        <div class="bounce">{{reponse.nom}}</div>
                    </ion-card>
                </ion-col>
                <ion-col *ngFor="let reponse of listReponses; let i= index">
                    <ion-card *ngIf="(i==2 || i==3) && reponse.image==''" class="reponse" attr.id="{{reponse.id}}" (click)="cliqueReponse(reponse.isReponse,reponse.id)">
                        <div class="bounce">{{reponse.nom}}</div>
                    </ion-card>
                    <ion-card *ngIf="(i==2 || i==3) && reponse.image!=''" class="reponse" attr.id="{{reponse.id}}" (click)="cliqueReponse(reponse.isReponse,reponse.id)">
                        <div class="bounce">{{reponse.nom}}</div>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>