<ion-header>

</ion-header>


<ion-content *ngIf="connect" padding style="margin-top: 20px;">

  <ion-row>
    <div class="titre">Modalités de participation au concours</div>
  </ion-row>
  <div *ngIf="ref == undefined">
    <ion-row>
      <div class="modalites">Vos tickets gagnés lors des défis vous permettent de participer à notre concours. Plus
        vous avez de tickets plus vous
        avez de chance de gagner. Bonne chance !!! </div>
    </ion-row>
  </div>

  <div *ngIf="ref != undefined">
    <ion-row>
      <div class="modalites">Vous avez déjà remis votre participation avec les coordonnées suivantes. </div>
    </ion-row>
    <div>
      <ion-row>
        <div class="modalites">Votre participation compte {{nombreTicketDejaRemis}} tickets </div>
      </ion-row>
      <div *ngIf="(nombreTicket-nombreTicketDejaRemis) == 0">
        <div class="modalites">Vous n'avez pas de nouveaux tickets pour augmenter vos chances de gagner. </div>
      </div>
      <div *ngIf="(nombreTicket-nombreTicketDejaRemis) > 0">
        <div class="modalites">Vous pouvez ajouter {{nombreTicket-nombreTicketDejaRemis}} tickets à votre
          participation. </div>
        <ion-row justify-content-center>
          <button ion-button (click)="update(nombreTicket)">ajouter les tickets restants</button>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="barre"></div>

  <ion-row style="margin-top:20px; margin-block-end: 0">
    <ion-list no-lines>
      <ion-item>
        <ion-label style="color: black" inline>Nom * :</ion-label>
        <ion-input (change)="newInput()" [(ngModel)]="nom" style="color: #0BA3CC" type="text" placeholder="Votre nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color: black" inline>Prénom * :</ion-label>
        <ion-input (change)="newInput()" [(ngModel)]="prenom" style="color: #0BA3CC" type="text" placeholder="Votre prénom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color: black" inline>Téléphone * :</ion-label>
        <ion-input (change)="newInput()" [(ngModel)]="tel" style="color: #0BA3CC" type="tel" placeholder="_ _-_ _-_ _-_ _-_ _"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color: black" inline>Mail :</ion-label>
        <ion-input [(ngModel)]="mail" style="color: #0BA3CC" type="email" placeholder="votre_mail@exemple.fr"></ion-input>
      </ion-item>
      <ion-item>
        <div class="conditions">* champs obligatoires</div>
      </ion-item>
    </ion-list>
  </ion-row>
  <div *ngIf="ref != undefined" style="margin-bottom:40px;">
    <ion-row justify-content-center>
      <button ion-button [disabled]="!isEnable" (click)="update(nombreTicketDejaRemis)">modifier mes coordonnées</button>
    </ion-row>
    <div class="barre"></div>

  </div>

  <div *ngIf="ref == undefined" style="margin-bottom:40px;">
    <ion-row class="conditionsRow">
      <ion-col col-1 align-self-center>
        <ion-checkbox (ionChange)="newInput()" [(ngModel)]="cg" color="primary" checked="false"></ion-checkbox>
      </ion-col>
      <ion-col>
        <div class="conditions">J'ai lu et j'accepte les
          <div class="link" (click)="easterEgg()">
            <span>conditions générales</span>
          </div> de participation au concours et certifie sur l'honneur l'exactitude des informations communiquées</div>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <button ion-button [disabled]="!isEnable" (click)="envoyer()">Envoyer la candidature</button>
    </ion-row>
  </div>
</ion-content>

<ion-content *ngIf="!connect" text-center>
  <ion-icon style="color:#0BA3CC; font-size: 150px; text-align: center" ios="ios-wifi" md="ios-wifi"></ion-icon>
  <div class="contentTitle" style="text-align: center">Vous n'etes pas connecté.</div>
</ion-content>