<ion-header></ion-header>

<ion-content class="fond" style="margin-top:-5px">
  <img *ngIf="this.newTicket" class="ticket" src="assets/imgs/ticket.png">
  <ion-card class="cardQuestion">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ensavoirplus bounceInLeft">EN SAVOIR PLUS</ion-label>
          <br>
          <ion-label class="explication bounceInLeft">{{explication.titre}}</ion-label>
          <br>
          <br>
          <ion-label class="explication bounceInLeft">{{explication.texte}}</ion-label>
          <br>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-fab right bottom>
    <button color="secondary" *ngIf="isNextQuestion" ion-fab (tap)="onClickNextQuestion()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right bottom>
    <button color="secondary" *ngIf="!isNextQuestion" ion-fab (tap)="onClickTerminer()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-fab>
  <img *ngIf="this.newTicket" class="ticket" src="assets/imgs/ticket.png">
</ion-content>