<ion-header></ion-header>

<ion-content class="fond" style="margin-top:-5px">
  <img *ngIf="this.newTicket" class="ticket" src="assets/imgs/ticket.png">
  <ion-card class="cardQuestion">
    <ion-grid>
      <ion-row>
        <ion-col class="textalign">
          <br>
          <br>
          <ion-label class="ensavoirplus bounceInLeft">{{explication?.titre}}</ion-label>
          <br>
  
         <ion-row>
           <ion-col col-3></ion-col>
           <ion-col><img class="img bounceInLeft" src="assets/imgs/{{explication.image}}"></ion-col>
           <ion-col col-3></ion-col>
         </ion-row>
          
  
  
              
     
          
          <br>
          <!--<button style="border-radius: 10px" *ngIf="isNextQuestion" ion-button (tap)="onClickNextQuestion()">Question suivante</button>
          <br>
          <button  style="border-radius: 10px" *ngIf="!isNextQuestion" ion-button (tap)= "onClickTerminer()">Terminer</button>-->

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-fab right bottom>
    <button color="secondary" *ngIf="isNextQuestion" ion-fab (tap)="onClickNextQuestion()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right bottom>
    <button color="secondary" *ngIf="!isNextQuestion" ion-fab (tap)="onClickTerminer()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-fab>
  <img *ngIf="this.newTicket" class="ticket" src="assets/imgs/ticket.png">
</ion-content>