page-explication {
    .ticket{
      position: absolute;
      top: 40%;
      left: 30%;
      width: 20vh;
      z-index: 2;
      -webkit-animation: anim ease-in 1; 
      animation: anim ease-in 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1300ms;
      animation-duration: 1300ms;
      -webkit-animation-delay: 300ms;
      animation-delay: 300ms;
    }


    @-webkit-keyframes anim {
      0% {
       -webkit-transform: translate3d(0,0,0);
       opacity:0;
     }
     
     1%{
       opacity: 1;
     }

     99%{
       opacity: 1;
     }
    
     100% {
       -webkit-transform: translate3d(+50vw,+60vh,0);
       opacity:0;
     }
     }

    
    .fond{
        background: linear-gradient(#0BA3CC 100%); /* W3C */
        padding: 0px;
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
      }

      .img{
        width : 100%;
        text-align: center;
      }




    .cardQuestion{
        height: auto;
        width: auto;
        //position: relative;
        text-align: center;
        border-radius: 0px;
        //background: rgba(#0BA3CC, 0.6);
        background: linear-gradient(#D3D3D3 100%); /* W3C */
        color: black;
        padding: 10px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        min-height: 100%;
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
      }

      .explication {
        margin:auto;
        text-align: justify;
        font-size:18px;
        white-space: normal;
    }

    .textalign
    {
      text-align: center;
    }

    .ensavoirplus{
      margin:auto;
        text-align: center;
        font-size:28px;
        white-space: normal;
    }

    @-webkit-keyframes bounceInLeft {
        from,
        60%,
        75%,
        90%,
        to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      
        0% {
          opacity: 0;
          -webkit-transform: translate3d(-3000px, 0, 0);
          transform: translate3d(-3000px, 0, 0);
        }
      
        60% {
          opacity: 1;
          -webkit-transform: translate3d(25px, 0, 0);
          transform: translate3d(25px, 0, 0);
        }
      
        75% {
          -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
        }
      
        90% {
          -webkit-transform: translate3d(5px, 0, 0);
          transform: translate3d(5px, 0, 0);
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      @keyframes bounceInLeft {
        from,
        60%,
        75%,
        90%,
        to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      
        0% {
          opacity: 0;
          -webkit-transform: translate3d(-3000px, 0, 0);
          transform: translate3d(-3000px, 0, 0);
        }
      
        60% {
          opacity: 1;
          -webkit-transform: translate3d(25px, 0, 0);
          transform: translate3d(25px, 0, 0);
        }
      
        75% {
          -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
        }
      
        90% {
          -webkit-transform: translate3d(5px, 0, 0);
          transform: translate3d(5px, 0, 0);
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      .bounceInLeft {
        -webkit-animation-name: bounceInLeft;
        animation-name: bounceInLeft;
        animation-duration: 1s;
      }
}
