// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.tabs {

.tabbar {
    background: linear-gradient(to bottom, #E7600E 0%, #0BA3CC 30%,#0BA3CC 50%,#0BA3CC 50%,#0BA3CC 50%,#0BA3CC 100%); /* W3C */

   // background-color: #0BA3CC;
    //opacity: 0.1;
}

    //quand l'onglet est sélectionné
    a.tab-button[aria-selected=true]{
        //opacity: 1;
        margin-top: 13px;
		color: color($colors,light);
		.tab-button-icon {
            //opacity: 1;
			color: color($colors,light);
		}
    }
    //quand l'onglet n'est pas sélectionné
    a.tab-button[aria-selected=false]{
       // opacity: 1;
        //color: color($colors,danger);
        margin-top: 13px;
		.tab-button-icon {
            //opacity: 1;
			//color: color($colors,danger);
		}
    }
    
    .content{
        background-color:white;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .contentTitle{
        background-color:white;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size:1.3em;
        line-height:30px
    }
            
    .barre{
        background-color: #E7600E;
        content: '';
        display: block;
        margin: 10px auto;
        width: 60px;
        height: 4px;
        margin-block-end: 0;
    }

}


.barre{
    background-color: #E7600E;
    content: '';
    display: block;
    margin: 10px auto;
    width: 60px;
    height: 4px;
    margin-block-end: 0;
}

.contentTitle{
    background-color:white;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:1.3em;
    line-height:30px
}

.timerZone{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 66px;
    z-index: 1;
    background-color: orangered;
    //opacity: 0.8;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
}

ion-content{
    padding-bottom: 10px;
}