page-defis {

    ion-icon.bloque {
        font-size: 50px; //Preferred size here
        color: grey;
    }

    ion-icon.debloque {
        font-size: 50px; //Preferred size here
        color: rgb(255, 233, 106);
    }

    ion-icon.fini {
        font-size: 50px; //Preferred size here
        color: gold;
    }

    ion-icon.ticket{
        font-size:30px;
    }

    .card-ios{
        width: calc(100% - 13px);
        margin-left: 20px;
    }

    ion-card.bloque{
        background-color: rgb(199, 198, 198);
        font-size: 20px;
   
    }

    ion-card.debloque{
        font-size: 20px;
   
    }

    ion-card.fini{
        font-size: 20px;
        background-color: rgb(255, 233, 106);
    }

    ion-label.titre-defi{
        font-size: 18px;

    }

    ion-col.trophee{
        flex: 0 0 4px;
        padding:5;
        margin-right:10px;
    }

}
