page-defis {

    ion-icon.bloque {
        font-size: 50px; //Preferred size here
        color: grey;
    }

    ion-icon.debloque {
        font-size: 50px; //Preferred size here
        color: rgb(253, 240, 167);
    }

    ion-icon.fini {
        font-size: 50px; //Preferred size here
        color: gold;
    }

    ion-icon.ticket{
        font-size:30px;
    }

    .card-ios{
        width: calc(100% - 13px);
        margin-left: 20px;
        margin-right: 30px;
    }

    ion-card.bloque{
        background-color: rgb(199, 198, 198);
        font-size: 20px;
   
    }

    ion-card.debloque{
        font-size: 20px;
   
    }

    ion-card.fini{
        font-size: 20px;
        background-color: rgb(255, 233, 106);
    }

    ion-label.titre-defi{
        font-size: 18px;
        color:white;
        flex-flow: column;
        
    }
    .label-ios{
        margin:0;
    }

    ion-col.trophee{
        flex: 0 0 4px;
        padding:5;
        margin-right:10px;
    }

    .col{
        text-align: center;
        vertical-align: middle;
    }

    .bleu{
        background-color: #0BA3CC;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .grid{
        padding:0;
    }

    .ticket{
        color:white;
        font-size: 18px;
    }

    .label-md {
        margin: 9px 8px 9px 0;
    }



    /*animation*/

    @-webkit-keyframes shake {
        from,
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      
        10%,
        30%,
        50%,
        70%,
        90% {
          -webkit-transform: translate3d(-3px, 0, 0);
          transform: translate3d(-3px, 0, 0);
        }
      
        20%,
        40%,
        60%,
        80% {
          -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
        }
      }
      
      @keyframes shake {
        from,
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      
        10%,
        30%,
        50%,
        70%,
        90% {
          -webkit-transform: translate3d(-3px, 0, 0);
          transform: translate3d(-3px, 0, 0);
        }
      
        20%,
        40%,
        60%,
        80% {
          -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
        }
      }
      
      .shake {
        -webkit-animation-name: shake;
        animation-name: shake;
        animation-duration: 1s;

      }

}
